*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.solarsystem{
        height: 700px;
        width: 700px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    animation:third;
    justify-content: center;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-left: 400px;
    margin-top: 180px;
}
@keyframes third {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.sun{
    background-color: orangered ;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px; 
    display: flex;
    transform: translateX(0px);
}


    
.Mercury{
     background-color: rgb(158, 212, 231);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 20px;
    width: 20px; 
    display: flex;
    transform: translateX(70px);
    z-index: 10;
}
.Venus{
     background-color: rgb(159, 94, 20);
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transform: translateX(110px); 
    z-index: 10;
}
.Earth{
     background-color: rgb(36, 20, 159);
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    border-radius: 50%;
    height: 32px;
    width: 32px; 
    transform: translateX(160px); 
    z-index: 20;
}
.Mars{
    background-color: rgb(237, 161, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    height: 25px;
    width: 25px;
    transform: translateX(200px);
    z-index: 30;
}
.Jupiter{
    background-color: rgb(178, 186, 35) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transform: translateX(250px);

}
.Saturn{
    background-color: rgb(178, 186, 35) ;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    transform: translateX(310px);
}
.Uranus{
    background-color: rgb(65, 68, 213) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    transform: translateX(380px);
}
.Neptune{
    background-color: rgb(8, 9, 74) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    transform: translateX(470px);
}