.one{
      margin: 250px;
    justify-items: center;

}

.sun{
   
     height: 250px;
     width: 250px;
     background-color: rgb(206, 136, 37);
     border-radius: 50%;
    box-shadow: 0px 0px 70px 40px rgb(206, 169, 37);
   
}
body{
    background-color: skyblue;
}
.two{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 150px;
  margin-left: 10px;
  color: rgb(34, 146, 30);
}
